In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.4.39'

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///college.db', echo = True)
engine = create_engine("mysql+pymysql://root:24santoshgsA@localhost/college",echo = True)

In [4]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

2023-01-12 21:49:38,977 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-12 21:49:38,981 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-01-12 21:49:38,982 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-12 21:49:38,986 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2023-01-12 21:49:38,988 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-12 21:49:38,993 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2023-01-12 21:49:38,998 INFO sqlalchemy.engine.Engine [no key 0.00505s] ()
2023-01-12 21:49:39,011 INFO sqlalchemy.engine.Engine COMMIT