In [3]:
import pandas as pd
import numpy as np
file1=pd.read_csv('C:/Users/Swetha/IU/test_cal.csv')
file2=pd.read_csv('C:/Users/Swetha/IU/no_of_ideal_func.csv')
df1=pd.DataFrame(file1)
df2=pd.DataFrame(file2)
dif3=pd.concat([df1[['x','y','delta_Y']],df2[['no_of_ideal_func']]],axis=1,join='inner')
dif3

       x          y     delta_Y  no_of_ideal_func
0  -13.2  -8.746355  115.451886     -48733.736270
1  -18.0   2.715985  -48.887723     -47966.762002
2  -12.8   3.482230  -44.572540     -47208.521765
3    8.7 -21.556530 -187.541811     -46460.443469
4   -4.6  -0.412255    1.896374     -45717.046581
..   ...        ...         ...               ...
95  -0.8   2.597103   -2.077682      -5927.150692
96  -6.3   1.549337   -9.760821      -5733.339368
97  10.8   2.629828   28.402142      -5546.366399
98  -2.9  -0.891154    2.584347      -5361.355113
99   7.5 -14.837543 -111.281572      -5179.161691

[100 rows x 4 columns]

In [5]:
df5=pd.DataFrame(dif3)
'''dropping the index column and save to csv file'''
df5.to_csv('C:/Users/Swetha/IU/delta_file.csv', index=False)

In [6]:
'''Importing the modules'''
from sqlalchemy import create_engine as ce
import pandas as pd
'''Import data from CSV file'''
data=pd.read_csv('C:/Users/Swetha/IU/delta_file.csv')
'''Creating a DB file'''
file_db = ce('sqlite:///C:/Users/Swetha/assignment_dataset/delta_file.db')
'''Loading the CSV file into db file'''
data.to_sql('delta_file',file_db)

100

In [7]:
'''connecting to Mysql'''
mysql_engine = ce("mysql://root:mysql24S*@localhost:3306/trainsetdb")

In [8]:
'''Loading CSv to Mysql'''
data.to_sql('delta_file',mysql_engine)

100