In [2]:
import pandas as pd
import numpy as np
id_min=pd.read_csv('C:/Users/Swetha/IU/ideal.csv')
df=pd.DataFrame(id_min)
df['no_of_ideal_func'] = df.sum(axis=1)
df

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y42,y43,y44,y45,y46,y47,y48,y49,y50,no_of_ideal_func
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850,-48733.736270
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954,-47966.762002
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129,-47208.521765
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840,-46460.443469
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902,-45717.046581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,19.5,0.605540,0.795815,10.605540,5.795815,-10.605540,-0.605540,-0.947580,-0.117020,1.591630,...,-38.602093,2.970414,-0.012422,12.970414,5.273000,-5.273000,0.240949,0.605540,0.714434,73365.893661
396,19.6,0.681964,0.731386,10.681964,5.731386,-10.681964,-0.681964,-0.930426,0.774356,1.462772,...,-38.834310,2.975530,-0.012438,12.975530,5.278115,-5.278115,0.249389,0.681964,0.667902,74466.795862
397,19.7,0.751573,0.659649,10.751574,5.659649,-10.751574,-0.751573,-0.910947,-0.994669,1.319299,...,-39.070175,2.980619,-0.012453,12.980619,5.283204,-5.283204,0.247887,0.751573,0.612840,75575.779206
398,19.8,0.813674,0.581322,10.813674,5.581322,-10.813674,-0.813674,-0.889191,0.612391,1.162644,...,-39.309338,2.985682,-0.012469,12.985682,5.288267,-5.288267,0.236503,0.813674,0.549129,76698.914819
399,19.9,0.867644,0.497186,10.867644,5.497186,-10.867644,-0.867644,-0.865213,0.168518,0.994372,...,-39.551407,2.990720,-0.012484,12.990720,5.293305,-5.293305,0.215690,0.867644,0.476954,77830.822774

In [3]:
df6=df[['x','no_of_ideal_func']]
df6

        x  no_of_ideal_func
0   -20.0     -48733.736270
1   -19.9     -47966.762002
2   -19.8     -47208.521765
3   -19.7     -46460.443469
4   -19.6     -45717.046581
..    ...               ...
395  19.5      73365.893661
396  19.6      74466.795862
397  19.7      75575.779206
398  19.8      76698.914819
399  19.9      77830.822774

[400 rows x 2 columns]

In [4]:
df5=pd.DataFrame(df6)
'''dropping the index column and save to csv file'''
df5.to_csv('C:/Users/Swetha/IU/no_of_ideal_func.csv', index=False)

In [5]:
'''Importing the modules'''
from sqlalchemy import create_engine as ce
import pandas as pd
'''Import data from CSV file'''
data=pd.read_csv('C:/Users/Swetha/IU/no_of_ideal_func.csv')
'''Creating a DB file'''
file_db = ce('sqlite:///C:/Users/Swetha/assignment_dataset/no_of_ideal_func.db')
'''Loading the CSV file into db file'''
data.to_sql('no_of_ideal_func',file_db)

400

In [6]:
'''connecting to Mysql'''
mysql_engine = ce("mysql://root:mysql24S*@localhost:3306/trainsetdb")

In [8]:
'''Loading CSv to Mysql'''
data.to_sql('no_of_ideal_func',mysql_engine)

400