In [2]:
import pandas as pd
import numpy as np
df1=pd.read_csv('C:/Users/Swetha/IU/tr_update.csv')
df2=pd.read_csv('C:/Users/Swetha/IU/ideal_update.csv')
trn_set1=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:2]
trn_set2=df1.iloc[0:, 1:2] - df2.iloc[0:, 2:2]
trn_set3=df1.iloc[0:, 1:2] - df2.iloc[0:, 3:3]
trn_set4=df1.iloc[0:, 1:2] - df2.iloc[0:, 4:5]
trn_set5=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:6]
trn_set6=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:7]
trn_set7=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:8]
trn_set8=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:9]
trn_set9=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:10]
trn_set10=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:11]
trn_set11=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:12]
trn_set12=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:13]
trn_set13=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:14]
trn_set14=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:15]
trn_set15=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:16]
trn_set16=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:17]
trn_set17=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:18]
trn_set18=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:19]
trn_set19=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:20]
trn_set20=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:21]
trn_set21=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:22]
trn_set22=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:23]
trn_set23=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:24]
trn_set24=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:25]
trn_set25=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:26]
trn_set26=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:27]
trn_set27=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:28]
trn_set28=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:29]
trn_set29=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:30]
trn_set30=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:31]
trn_set31=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:32]
trn_set32=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:33]
trn_set33=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:34]
trn_set34=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:35]
trn_set35=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:36]
trn_set36=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:37]
trn_set37=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:38]
trn_set38=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:39]
trn_set39=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:40]
trn_set40=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:41]
trn_set41=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:42]
trn_set42=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:43]
trn_set43=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:44]
trn_set44=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:45]
trn_set45=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:46]
trn_set46=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:47]
trn_set47=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:48]
trn_set48=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:49]
trn_set49=df1.iloc[0:, 1:2] - df2.iloc[0:, 1:50]
trn_dev=pd.concat([trn_set1,trn_set2,trn_set3,trn_set4,trn_set5,trn_set6,trn_set7,trn_set8,trn_set9,trn_set10,
                   trn_set11,trn_set12,trn_set13,trn_set14,trn_set15,trn_set16,trn_set17,trn_set18,trn_set19,trn_set20,
                   trn_set21,trn_set22,trn_set23,trn_set24,trn_set25,trn_set26,trn_set27,trn_set28,trn_set29,trn_set30,
                   trn_set31,trn_set32,trn_set33,trn_set34,trn_set35,trn_set36,trn_set37,trn_set38,trn_set39,trn_set40,
                   trn_set41,trn_set42,trn_set43,trn_set44,trn_set45,trn_set46,trn_set47,trn_set48,trn_set49],axis=1,join='inner')
trn_dev

,y1,y1,y1,y1,y4,y1,y2,y3,y4,y5,...,y45,y46,y47,y48,y49,y5,y6,y7,y8,y9
0,-0.408091,NaN,NaN,NaN,NaN,-0.408091,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.056601,NaN,NaN,NaN,NaN,-0.056601,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.581974,NaN,NaN,NaN,NaN,1.581974,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.415278,NaN,NaN,NaN,NaN,1.415278,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.876718,NaN,NaN,NaN,NaN,1.876718,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2.055736,NaN,NaN,NaN,NaN,2.055736,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,0.539775,NaN,NaN,NaN,NaN,0.539775,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,0.253495,NaN,NaN,NaN,NaN,0.253495,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,1.714525,NaN,NaN,NaN,NaN,1.714525,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,-0.490662,NaN,NaN,NaN,NaN,-0.490662,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
id_set1['y1_y1']=df2[0:, 1:2]
id_set1

           y1
0    0.833469
1    0.752806
2    0.662065
3    0.564863
4    0.465074
..        ...
395  0.366679
396  0.465074
397  0.564863
398  0.662065
399  0.752806

[400 rows x 1 columns]

In [4]:
df1=pd.read_csv('C:/Users/Swetha/IU/tr_update.csv')
df1.head()

      x        y1        y2         y3         y4
0 -20.0  0.425378  1.597749   9.164182  23.228457
1 -19.9  0.696205  3.374375   8.561844  25.429139
2 -19.8  2.244038  0.992443   8.692986  26.773871
3 -19.7  1.980141  2.361493   9.037771  24.186881
4 -19.6  2.341793  2.470914  10.630935  32.343505

In [5]:
df2=pd.read_csv('C:/Users/Swetha/IU/ideal_update.csv')
df2.head()

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y40,y41,y42,y43,y44,y45,y46,y47,y48,y49
0,-20.0,0.833469,0.166531,82.574569,29.247351,82.574569,0.833469,0.704041,0.724064,0.666124,...,809265.586546,1636.726289,1616.364832,8.974412,0.000069,168.889050,28.072167,28.072167,0.034700,0.833469
1,-19.9,0.752806,0.247194,83.399926,30.219051,83.399926,0.752806,0.748593,0.028398,0.988775,...,798365.123764,1618.760272,1603.889561,8.944405,0.000070,168.758806,28.019078,28.019078,0.046522,0.752806
2,-19.8,0.662065,0.337935,84.388585,31.151152,84.388585,0.662065,0.790661,0.375023,1.351740,...,787582.944206,1600.546927,1591.264755,8.914297,0.000070,168.627937,27.965768,27.965768,0.055934,0.662065
3,-19.7,0.564863,0.435137,85.533383,32.031631,85.533383,0.564863,0.829825,0.989366,1.740550,...,776919.479530,1582.113231,1578.458915,8.884088,0.000070,168.496457,27.912240,27.912240,0.061448,0.564863
4,-19.6,0.465074,0.534926,86.825795,32.848785,86.825795,0.465074,0.865693,0.599627,2.139703,...,766375.233698,1563.489099,1565.444063,8.853777,0.000070,168.364379,27.858498,27.858498,0.062195,0.465074

In [4]:
import pandas as pd
import numpy as np
df1=pd.read_csv('C:/Users/Swetha/IU/train.csv')
df2=pd.read_csv('C:/Users/Swetha/IU/ideal.csv')
col_sum['Total_sum']=df2.sum()
col_sum

NameError: name 'col_sum' is not defined

In [2]:
import pandas as pd
import numpy as np
id_min=pd.read_csv('C:/Users/Swetha/IU/ideal.csv')
id_min

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,19.5,0.605540,0.795815,10.605540,5.795815,-10.605540,-0.605540,-0.947580,-0.117020,1.591630,...,39.302770,-38.602093,2.970414,-0.012422,12.970414,5.273000,-5.273000,0.240949,0.605540,0.714434
396,19.6,0.681964,0.731386,10.681964,5.731386,-10.681964,-0.681964,-0.930426,0.774356,1.462772,...,39.540980,-38.834310,2.975530,-0.012438,12.975530,5.278115,-5.278115,0.249389,0.681964,0.667902
397,19.7,0.751573,0.659649,10.751574,5.659649,-10.751574,-0.751573,-0.910947,-0.994669,1.319299,...,39.775787,-39.070175,2.980619,-0.012453,12.980619,5.283204,-5.283204,0.247887,0.751573,0.612840
398,19.8,0.813674,0.581322,10.813674,5.581322,-10.813674,-0.813674,-0.889191,0.612391,1.162644,...,40.006836,-39.309338,2.985682,-0.012469,12.985682,5.288267,-5.288267,0.236503,0.813674,0.549129
399,19.9,0.867644,0.497186,10.867644,5.497186,-10.867644,-0.867644,-0.865213,0.168518,0.994372,...,40.233820,-39.551407,2.990720,-0.012484,12.990720,5.293305,-5.293305,0.215690,0.867644,0.476954

In [7]:
import pandas as pd
import numpy as np
df=pd.read_csv('C:/Users/Swetha/IU/tr_set_&_ideal_set_cal.csv')
df

           Y1        Y2         Y3         Y4
0    0.425308  1.563049   9.006692  22.394988
1    0.696136  3.327852   8.334358  24.676333
2    2.243969  0.936510   8.391443  26.111806
3    1.980071  2.300045   8.662198  23.622019
4    2.341723  2.408719  10.184842  31.878430
..        ...       ...        ...        ...
396  1.004694 -0.042496   8.780696  29.611840
397  0.818203 -0.059964   8.682802  23.778033
398  2.376434 -0.021624   8.885471  28.879530
399  0.261989  0.079746   7.527164  23.987293
400       NaN       NaN        NaN        NaN

[401 rows x 4 columns]

In [8]:
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource
import pandas as pd
df = pd.read_csv("C:/Users/Swetha/IU/tr_set_&_ideal_set_cal.csv")
source = ColumnDataSource(df)
# Line Chart 
p = figure(title="Line Chart", x_axis_label='X-Axis', y_axis_label='Y-Axis',)
p.line(y1='Y1', y2='Y2',y3='Y3',y4='Y4', source=source)
show(p)

# Bar Chart
source1 = ColumnDataSource(df)
p = figure(title="Bar Chart", x_axis_label='X-Axis', y_axis_label='Y-Axis')
p.vbar(x='x', top='y', source=source1, width=0.5)
show(p)

# Scatter Chart
source2 = ColumnDataSource(df)
p = figure(title="Scatter Chart", x_axis_label='X-Axis', y_axis_label='Y-Axis')
p.scatter(x='x', y='y', source=source2,color='red')
show(p)

AttributeError: unexpected attribute 'y1' to Line, similar attributes are y